
body{
    font-family: "Raleway", sans-serif;
}
.postimage{
    border-radius: 10%;
    margin-right: 30px;

}
.popularpost{
    display: block;
    color: #000!important;
    background-color: #fff!important;
    margin-bottom: 10px; 
     padding: 0.01em 16px;
    margin-top: 16px!important;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    box-sizing: inherit;
}
.popularpost h4{
    padding: 8px 16px!important;
    box-sizing: inherit;

}
